.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ac-input {
    max-width: 800px;
    width: 310px;
    display: flex;
    border-radius: 4px;
    flex-direction: column;
    position: relative;

    input {
        width: -webkit-fill-available;
        color: rgb(36, 35, 42);
        font-size: 16px;
        line-height: 20px;
        min-height: 28px;
        border-radius: 4px;
        padding: 8px 16px;
        border: 2px solid transparent;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        background: rgb(251, 251, 251);
    }

    input:focus-visible {
        outline: 1px solid #7777 !important;
    }
}


.ac-menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 310px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


ul {
    list-style: none;
    background-color: white;
    margin: 0;
    padding: 0;
    transition: all .5s ease;
}

li {
    font-size: 16px;
    line-height: 20px;
    padding: 7px 7px;
    transition: all .5s ease;
}

li:hover {
    background-color: gainsboro;
}

.no-data {
    margin: .5rem;
    font-size: smaller;
    opacity: .8;
    font-style: italic;
}