<div class="wrapper">
    <div class="ac-input">
        <input #autoComplete type="text" (keydown)="onKeyDown()" (ngModelChange)="checkModelChange($event)" [formControl]="formControl" placeholder="Search...">
        <div class="ac-menu" *ngIf="!(selectedProduct$ | async)">
            <ul>
                <li *ngFor="let product of productList" (click)="onSelectProduct(product)">
                    {{ product.title }}
                </li>
            </ul>
            <div class="no-data" *ngIf="isLoading || checkNoDataVisible()">
                <span *ngIf="isLoading">Loading...</span>
                <span *ngIf="checkNoDataVisible()">No results.</span>
            </div>
        </div>
    </div>
</div>